@model Users
@{

}
<div class="card">
  <div class="card-header">
    User 
  </div>
  <div class="card-body">
     <img src="/css/img/me.jpg" style="width:20%;height:20%;margin:5px;" class="rounded float-start" alt="me">
    <h5 class="card-title"> @Model.Name </h5>
    <p class="card-text"> @Model.UserEmail</p>
      <a href="#" class="btn btn-primary"> Like</a>
  </div>
</div>
